/* configuracion de fuentes*/
* {
    font-family: electrolux_sanssemibold;
}

/*configuracion de variables */
:root{
    --electrolux-bg-primary: #193159; 
    --electrolux-bg-gray: #7b8a9a; 
    --electrolux-bg-dark: #191820; 
    --electrolux-bg-gray-light: #acbac1;
    --electrolux-bg-gray-light-2:#e0e9eb; 
    --electrolux-text-primary: #193159; 
    --electrolux-bg-primary-darken: #041e4d; 
    --electrolux-bg-primary-light: #dde8ea;  
    --electrolux-bg-items-text: 1.1vw;
    --electrolux-bg-title: 3vw;
    --electrolux-bg-text: 1.43vw;
    --electrolux-bg-plus-title: 1.3vw;
    --electrolux-bg-plus-text: 1.1vw;
    --electrolux-bg-guaranty: 1vw;
    --electrolux-bg-lineheight: 1.25;
    --electrolux-bg-general-info: 1.5vw;
    --electrolux-bg-max-width-table: 20vw;
    --electrolux-bg-table-title: 1.1vw;
    --electrolux-bg-table-item: 1.1vw;
}

html {

    font-size: 16px;



}



/*configuracion de colores con variables*/
.bg-electrolux-primary {
    background: var(--electrolux-bg-primary);
}

.bg-electrolux-gray {
    background: var(--electrolux-bg-gray);
}

.text-electrolux-primary {
    color: var(--electrolux-text-primary);
}

.text-electrolux-white {
    color: var(--electrolux-white);
}

.bg-electrolux-primary-darken {
    background: var(--electrolux-bg-primary-darken);
}

.bg-electrolux-primary-light {
    background: var(--electrolux-bg-primary-light);
}

.bg-electrolux-gray-light {
    background: var(--electrolux-bg-gray-light);
}

.bg-electrolux-black-blue {
    background: var(--electrolux-bg-black-blue);
}


/*configuracion de clases para fuentes */
.font-semibold {
    font-family: "electrolux_sanssemibold";
}

.font-light {
    font-family: "electrolux_sanslight";
}

.font-regular {
    font-family: "electrolux_sansregular";
}

.font-bold {
    font-family: "electrolux_sansbold";
}

bold {
    font-family: "electrolux_sansbold";
}

.display-3 {
    line-height: 1;
}

.txt-s {
    font-size: 1.5rem;
}

.pd-0 {
    padding: 0 !important;
}

/*CSS PARA BANNER PRINCIPAL -----------------------------------*/

.img {
    max-width: 100%;
    height: auto;
}

.img-cover {
    object-fit: cover;
}

.electrolux__header {
    position: fixed;
    top: 0%;
    z-index: 100;
    opacity: .95;
    max-height: 100px;
    height: 100%;
    width: 100%;
    background-color: var(--electrolux-bg-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.electrolux__header div {
    margin-left: 3rem;
    max-height: 90%;
}

.electrolux__header div img {
    max-height: 50px;
}

.imgBackground {
    height: 46rem;
}

.imgBackground>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.backgroundSection .textBox {
    left: 8%;
    bottom: 4%;
    position: absolute;
}

/*FIN CSS PARA BANNER PRINCIPAL ----------------------------------------------*/

/*CSS PARA CARDS CON IMGS CIRCULARES -------------------------*/

.cardsCirculares img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.cardsCirculares .col-12:nth-of-type(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}





/*FIN CSS PARA CARDS CON IMGS CIRCULARES -------------------------*/



@media screen and (max-width: 767.98px) {


    /*MEDIA QUERY PARA BANNER PRINCIPAL ------------------*/

    .imgBackground {
        height: 26rem;
    }

    .backgroundSection .textBox {
        position: initial;
    }

    /*FIN MEDIA QUERY BANNER PRINCIPAL -------------------- */


    .cardsCirculares .col-12:nth-of-type(2) {
        border-left: 0;
        border-right: 0;
    }

    .cardsCirculares img {
        width: 300px;
        height: 300px;
    }

    /*FIN MEDIA QUERY BANNER PRINCIPAL -------------------- */

    /*SECCION 2  COLUMNAS  1 IMG Y UN TEXTO */
    .div_text {

        width: 100%;
    }

   

}

.img_style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.div_text {

    padding: 100px 30px;
}

@media screen and (min-width: 1600px) {

    .div_text {

        width: 60%;
    }
}

@media screen and (min-width: 992px) {


    .img_style {
        object-position: left;

    }


}

/*FIN SECCION 2  COLUMNAS  1 IMG Y UN TEXTO */




/* FEATURED  SLIDER */
.carousel-inner .carousel-item {
    transition: transform 1s ease !important;
}


.c-s>img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    font-size: 16px;
}


.Carousel-f{
    justify-content: flex-end;
    padding-right: 10%;
}

@media screen and (max-width: 767px) {
    .s-h3 {
        font-size: 2.7rem;
        margin-bottom: 10px !important;
    }

    .s-p {
        font-size: 1.4rem;
    }

    .s-p2 {
        font-size: 1.1rem;
    }
    .img-g2{
        display: none;
    }
    .div-sl {
        padding-bottom: 20px;
    }

    .Carousel-f{
        justify-content: flex-end;
        padding-right: 1px !important;
    }
    .img-g3{
        width: 80%;
    }
    .backgroundSection .textBoxCambios {
        position: initial !important;
        max-width: initial !important;
    }
}
@media screen and (min-width: 768px) {
    .img-g3{
       display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .s-h3 {
        font-size: 1.6rem;
        margin-bottom: 9px !important;
    }

    .s-p {
        font-size: 1.1rem;
    }

    .s-p2 {
        font-size: 0.9rem;
    }
    .img-g2{
        width: 70%;
        align-self: start !important;

    }

}
@media (min-width: 1000px) and (max-width: 1500px) {
    .s-h3 {
        font-size: 2.7rem;
        margin-bottom: 10px !important;
    }

    .s-p {
        font-size: 1.4rem;
    }

    .s-p2 {
        font-size: 1.1rem;
    }
    .img-g2{
        width: 120px;
        align-self: start !important;

    }

}
@media (min-width:1501px)  {
    .s-h3 {
        font-size: 3rem;
        margin-bottom: 25px !important;
    }

    .s-p {
        font-size: 1.8rem;
    }

    .s-p2 {
        font-size: 1.3rem;
    }
    .img-g2{
        width: 120px;
        align-self: start !important;

    }

}

.Carousel-f .active {
    background-color: var(--electrolux-text-primary);
}

.Carousel-f [data-bs-target] {
    opacity: 1;
    border-radius: 50%;
    height: 20px;
    width: 20px;

}


.Col-Eq {
    padding-bottom: 100%;
    margin-bottom: -100%;
}


/* FIN  FEATURED  SLIDER */


/*   SLIDER */
.xd {
    border: 1px solid white;
}


.img-Slider {
    padding: 50px 0px;
}

.div_text2 {

    padding: 100px 10px;
}

@media screen and (min-width: 1600px) {

    .div_text2 {

        width: 60%;
    }
}

@media screen and (max-width: 992px) {

    .div_text2 {

        padding: 20px 15px;
    }

  


}


.img-Slider>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.carousel-control-next {}


@media screen and (max-width: 991px) {

    .slider-1 {
        justify-content: center;
    }

    .slider-2 {
        justify-content: center;
    }

}

@media screen and (min-width: 992px) {

    .slider-1 {
        justify-content: end;
    }

    .slider-2 {
        justify-content: start;
    }
}

/* FIN SLIDER */


/*CSS PARA SECCION DE INFORMACION TECNICA */

.informationSection .tit {
    padding: 10px;
    border-radius: 10px;
    gap: 0 10px;
}

.informationSection ul li {
    margin-bottom: 5px;
    border-radius: 10px;
}

.informationSection .tit img {
    width: 20px;
}

.detailsInfoDiv {
    width: 100%;
    max-width: 20vw;
}

/*FIN CSS PARA SECCION DE INFORMACION TECNICA */


@media screen and (max-width: 767.98px) {





    .detailsInfoDiv {
        max-width: initial;
    }


}


/* CSS PARA SECCION DE CARDS EXPANSIBLES */

.expansibleCards__card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.expansibleCards_img .img {
    width: 100%;
    object-fit: cover;
}

.expansibleCards__icons {
    position: absolute;
    top: 15px;
    right: 15px;
}



.expansibleCards__icons>div.bg-electrolux-primary-darken {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expansibleCards__icons>div.bg-electrolux-primary-darken img {
    transform: scale(.5);
}

@media screen and (max-width: 767px) {
  /*MEDIA QUERY SECCION CARDS EXPANDIBLES */

  .expansibleCards__card p.fs-6.text-electrolux-primary {
    font-size: 2rem !important;
}

.expansibleCards__card p.text-electrolux-primary {
    font-size: 1rem !important;
}
}
@media screen and (min-width: 768px) {
  
}

@media (min-width: 768px) and (max-width: 999px) {
    /*MEDIA QUERY SECCION CARDS EXPANDIBLES */

    .expansibleCards__card p.fs-6.text-electrolux-primary {
        font-size: 1.1rem !important;
    }
    
    .expansibleCards__card p.text-electrolux-primary {
        font-size: 1rem !important;
    }

}
@media (min-width: 1000px) and (max-width: 1500px) {
   /*MEDIA QUERY SECCION CARDS EXPANDIBLES */

   .expansibleCards__card p.fs-6.text-electrolux-primary {
    font-size: 1.5rem !important;
}

.expansibleCards__card p.text-electrolux-primary {
    font-size: 1.2rem !important;
}

}
@media (min-width:1501px)  {
      /*MEDIA QUERY SECCION CARDS EXPANDIBLES */

      .expansibleCards__card p.fs-6.text-electrolux-primary {
        font-size: 1.8rem !important;
    }
    
    .expansibleCards__card p.text-electrolux-primary {
        font-size: 1.4rem !important;
        text-align: center;
    }

}


/*CSS PARA IMAGEN FONDO COMPLETO */

.imgFondoCompleto .img {
    width: 100%;
    object-fit: cover;
}


/*FIN CSS PARA IMAGEN FONDO COMPLETO*/

/*CLASES DE FUENTES GENERALES*/

.title{
    font-size: var(--electrolux-bg-title);
}

.text{
    font-size: var(--electrolux-bg-text);
    line-height: var(--electrolux-bg-lineheight);
}

.plus-title{
    font-size: var(--electrolux-bg-plus-title);
}

.plus-text{
    font-size: var(--electrolux-bg-plus-text);
    line-height: var(--electrolux-bg-lineheight);
}

.general-info{
    font-size: var(--electrolux-bg-general-info);
}


.guaranty{
    font-size: var(--electrolux-bg-guaranty);
}

.bg-electrolux-gray-light-2 {
    background: var(--electrolux-bg-gray-light-2);
}

.table-title {
    font-size: var(--electrolux-bg-table-title);
}

.table-item {
    font-size: var(--electrolux-bg-table-item);
}


/*RESPONSIVE*/

@media (max-width: 768px){
    .title{
        font-size: 30px;
    }
    
    .text{
        font-size: 20px;
        
    }
    
    .plus-title{
        font-size: 20px;
    }
    
    .plus-text{
        font-size: 15px;
        
    }
    
    .general-info{
        font-size: 20px;
    }
    
    
    .guaranty{
        font-size: 12px;
    }
    
    
    .table-title {
        font-size: 15px;
    }
    
    .table-item {
        font-size: 12px;
    }

    .cardsCirculares span{
        font-size: 20px;
    }

    .expansibleCards__card p.text-electrolux-primary{
        font-size: 15px;
    }

    .cardsCirculares img{
        width: 100px;
        height: 100px;
    }

    .footer{
        font-size: 15px;
    }

    
}


/*FIN CLASES DE FUENTES GENERALES*/


.banner {
    font-size: 2.1vw;
    line-height: 1;
}


.banner-subtitle {
    color: #041e4e;
    font-size: 1.5vw;
    font-weight: 600;
    
}

.bg-electrolux-primary-light-2{
    background: #aebbc1;
}

.bold{
    font-weight: 600;
}

.white{
    color: white;
}

.footer{
    text-align: right;
    font-size: 1.1vw;
}

.cardsCirculares span {
    margin-bottom: -1%;
    font-size: var(--electrolux-bg-items-text);
}

.cardsCirculares .row>*{
    padding-left: 0!important;
}

.carousel-006-2 .carousel-control-prev,
.carousel-006-2 .carousel-control-next {
    width: 5%!important;
}

.carousel-006-2 .img {
    max-width: 30vw;
}

.fondoAzul .expansibleCards__card p.text-electrolux-primary {
    font-size: 1.4vw !important;
    text-align: left;
}

.diseñoBackground {
    position: absolute;
    top: 180%;
    left: 8%;
    color: white;
    max-width: 30vw;
    padding: 2rem;
}

.box-1{
    display: flex;
    position: absolute;
    top: 172%;
    left: 42%;
}

.box-2{
    display: flex;
    position: absolute;
    top: 172%;
    left: 60%;
}

.box-3{
    display: flex;
    position: absolute;
    top: 172%;
    left: 78%;
}

.fondo .imgBackground {
    height: 39vw;
}

@media (max-width:768px){
    .carousel-006-2 .img {
        max-width: 80%;
    }

    .cardsCirculares span {
        font-size: 20px;
    }

    .banner {
        font-size: 30px;
    }
    
    
    .banner-subtitle {
        font-size: 20px;
    }
}

@media (max-width:1800px){
    .diseñoBackground {
        position: absolute;
        top: 186%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 178%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 178%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 178%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}


@media (max-width:1600px){
    .diseñoBackground {
        position: absolute;
        top: 194%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 187%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 187%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 187%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}



@media (max-width:1440px){
    .diseñoBackground {
        position: absolute;
        top: 202%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 196%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 196%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 196%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}




@media (max-width:1310px){
    .diseñoBackground {
        position: absolute;
        top: 210%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 206%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 206%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 206%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}

@media (max-width:1200px){
    .diseñoBackground {
        position: absolute;
        top: 207%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 203%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 203%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 203%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}

@media (max-width:1130px){
    .diseñoBackground {
        position: absolute;
        top: 198%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 198%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 198%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 198%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}

@media (max-width:1024px){
    .diseñoBackground {
        position: absolute;
        top: 190%;
        left: 8%;
        color: white;
        max-width: 30vw;
        padding: 2rem;
    }
    
    .box-1{
        display: flex;
        position: absolute;
        top: 190%;
        left: 42%;
    }
    
    .box-2{
        display: flex;
        position: absolute;
        top: 190%;
        left: 60%;
    }
    
    .box-3{
        display: flex;
        position: absolute;
        top: 190%;
        left: 78%;
    }
    
    .fondo .imgBackground {
        height: 39vw;
    }
}

@media (max-width:768px){
    .fondoAzul .expansibleCards__card p.text-electrolux-primary {
        font-size: 20px !important;
        text-align: left;
    }

    .diseñoBackground {
        position: absolute;
        top: 328%;
        left: 8%;
        
    }

    .box-1{
        display: flex;
    position: absolute;
    top: 360%;
    left: 29%;
    }
    
    .box-2{
        display: flex;
    position: absolute;
    top: 446%;
    left: 29%;
    }

    .box-3{
        display: flex;
    position: absolute;
    top: 531%;
    left: 29%;
    }

    .diseñoBackground {

        max-width: initial;
        
    }

    .fondo .imgBackground {
        height: 303vh;
    }

    .footer{
        font-size: 15px;
    }
}
@media (max-width:500px){
    .diseñoBackground {
        position: absolute;
        top: 285%;
        left: 8%;
        
    }

    .box-1{
        display: flex;
        position: absolute;
        top: 332%;
        left: 18%;
    }
    
    .box-2{
        display: flex;
    position: absolute;
    top: 414%;
    left: 18%;
    }

    .box-3{
        display: flex;
    position: absolute;
    top: 497%;
    left: 18%;
    }

    .diseñoBackground {

        max-width: initial;
        
    }

    .fondo .imgBackground {
        height: 303vh;
    }
}

@media (max-width:425px){
    .diseñoBackground {
        position: absolute;
        top: 285%;
        left: 8%;
        
    }

    .box-1{
        display: flex;
        position: absolute;
        top: 332%;
        left: 14%;
    }
    
    .box-2{
        display: flex;
    position: absolute;
    top: 414%;
    left: 14%;
    }

    .box-3{
        display: flex;
    position: absolute;
    top: 497%;
    left: 14%;
    }

    .diseñoBackground {

        max-width: initial;
        
    }

    .fondo .imgBackground {
        height: 303vh;
    }
}


@media (max-width:375px){
    .diseñoBackground {
        position: absolute;
        top: 285%;
        left: 8%;
        
    }

    .box-1{
        display: flex;
        position: absolute;
        top: 332%;
        left: 8%;
    }
    
    .box-2{
        display: flex;
    position: absolute;
    top: 414%;
    left: 8%;
    }

    .box-3{
        display: flex;
    position: absolute;
    top: 497%;
    left: 8%;
    }

    .diseñoBackground {

        max-width: initial;
        
    }

    .fondo .imgBackground {
        height: 303vh;
    }
}

@media (max-width:320px){
    .diseñoBackground {
        position: absolute;
        top: 287%;
        left: 8%;
        
    }

    .box-1{
        display: flex;
        position: absolute;
        top: 344%;
        left: 8%;
        width: 85%;
    }
    
    .box-2{
        display: flex;
    position: absolute;
    top: 426%;
    left: 8%;
    width: 85%;
    }

    .box-3{
        display: flex;
    position: absolute;
    top: 509%;
    left: 8%;
    width: 85%;
    }

    .diseñoBackground {

        max-width: initial;
        
    }

    
}

/*CSS PARA IMAGEN FONDO COMPLETO */

.imgFondoCompleto .img {
    width: 100%;
    object-fit: cover;
}

.footer{
    text-align: right;
    font-size: 1.1vw;
} 

.backgroundSection .textBoxCambios {
	left: 10%;
	bottom: 10%;
	position: absolute;
	max-width: 30vw;
    opacity: .95;
}

.banner-subtitle {
    font-size: 1.8vw;
}
.banner {
	font-size: 2.1vw;
}
.gray-white {
	color: #adbbc1;
}


.bold {
	font-weight: 600;
}