/* configuracion de fuentes*/
*{
    font-family: electrolux_sanssemibold;
}

/*configuracion de variables */
:root {
    --electrolux-bg-primary: #193159;
    --electrolux-bg-gray: #7b8a9a;
    --electrolux-text-primary: #041f4d;
    --electrolux-white: white;
    --electrolux-bg-primary-darken: #041e4d;
    --electrolux-bg-primary-light: #dde8ea;
    --electrolux-bg-gray-light: #acbac1;
    --electrolux-bg-black-blue: #191820;
    --electrolux-bg-items-text: 1.1vw;
    --electrolux-bg-title: 3vw;
    --electrolux-bg-text: 1.43vw;
    --electrolux-bg-plus-title: 1.3vw;
    --electrolux-bg-plus-text: 1.1vw;
    --electrolux-bg-guaranty: 1vw;
    --electrolux-bg-lineheight: 1.25;
    --electrolux-bg-general-info: 1.5vw;
    --electrolux-bg-max-width-table: 20vw;
    --electrolux-bg-table-title: 1.1vw;
    --electrolux-bg-table-item: 1.1vw;
}

html {

    font-size: 16px
}



.title{
    font-size: var(--electrolux-bg-title);
}

.text{
    font-size: var(--electrolux-bg-text);
    line-height: var(--electrolux-bg-lineheight);
}

.text-electrolux-white{
    color: var(--electrolux-bg-primary-light)
}

.plus-title{
    font-size: var(--electrolux-bg-plus-title);
}

.plus-text{
    font-size: var(--electrolux-bg-plus-text);
    line-height: var(--electrolux-bg-lineheight);
}

.general-info{
    font-size: var(--electrolux-bg-general-info);
}


.guaranty{
    font-size: var(--electrolux-bg-guaranty);
}

.bg-electrolux-gray-light-2 {
    background: var(--electrolux-bg-gray-light-2);
}

.table-title {
    font-size: var(--electrolux-bg-table-title);
}

.table-item {
    font-size: var(--electrolux-bg-table-item);
}

.detailsInfoDiv {
    width: 100%;
    max-width: 20vw;
}


@media (max-width: 768px){
    .banner {
        font-size: 30px !important;
    }
    
    
    .banner-subtitle {
        font-size: 20px !important;
    }

    .title{
        font-size: 30px;
    }
    
    .text{
        font-size: 20px;
        
    }
    
    .plus-title{
        font-size: 20px;
    }
    
    .plus-text{
        font-size: 15px;
        
    }
    
    .general-info{
        font-size: 20px;
    }
    
    
    .guaranty{
        font-size: 12px;
    }
    
    
    .table-title {
        font-size: 15px;
    }
    
    .table-item {
        font-size: 12px;
    }

    .cardsCirculares span{
        font-size: 20px;
    }

    .expansibleCards__card p.text-electrolux-primary{
        font-size: 15px;
    }

    .cardsCirculares img{
        width: 100px;
        height: 100px;
    }
}

/*configuracion de colores con variables*/
.bg-electrolux-primary{
    background: var(--electrolux-bg-primary);
}
.bg-electrolux-primary-darken{
    background: var(--electrolux-bg-primary-darken);
}
.bg-electrolux-primary-light{
    background: var(--electrolux-bg-primary-light);
}
.bg-electrolux-gray{
    background: var(--electrolux-bg-gray);
}
.bg-electrolux-dark{
    background: var(--electrolux-bg-dark);
}
.bg-electrolux-gray-light{
    background: var(--electrolux-bg-gray-light);
}
.text-electrolux-primary{
    color: var(--electrolux-text-primary);
}

/*configuracion de clases para fuentes */
.font-semibold   {font-family: "electrolux_sanssemibold";}
.font-light      {font-family: "electrolux_sanslight";}
.font-regular    {font-family: "electrolux_sansregular";}
.font-bold       {font-family: "electrolux_sansbold";}

bold{
    font-family: "electrolux_sansbold";
}

.display-3{
    line-height: 1;
}

.img{
    max-width: 100%;
    height: auto;
}

.img-cover{
    object-fit: cover;
}

/* CUSTOM CSS PARA COMPONENTES DE LA PLANTILLA */

/*HEADER*/

.electrolux__header{
    position: fixed;
    top: 0%;
    z-index: 100;
    opacity: .95;
    max-height: 100px;
    height: 100%;
    width: 100%;
    background-color: var(--electrolux-bg-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.electrolux__header div{
    margin-left: 3rem;
    max-height: 90%;
}

.electrolux__header div img{
    max-height: 50px;
}

/*FIN HEADER --------------------------------------------------*/

/*CSS PARA BANNER PRINCIPAL -----------------------------------*/

.imgBackground{
    height: 39rem;
}

.imgBackground > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.backgroundSection .textBox{
    top: 28%;
    position: absolute;
    max-width: calc(20rem + 15vw);
}
.textBoxs.text-white{
    opacity: .9;
    height: 18em;
}
.text-white h4{
    width: 79%;
}

/*FIN CSS PARA BANNER PRINCIPAL ----------------------------------------------*/
/*CSS PARA CARDS CON IMGS CIRCULARES -------------------------*/

.cardsCirculares img{
    width: 100px;
    height: 100px;
}
.cardsCirculares{
    background-color: var(--electrolux-bg-gray);
}
.cardsCirculares span{
    color: var(--electrolux-bg-primary-light);
}
.cardsCirculares .col-12:nth-of-type(2){
    border-left: 2px solid var(--electrolux-bg-primary-light);
    border-right: 2px solid var(--electrolux-bg-primary-light);
}
/*FIN CSS PARA CARDS CON IMGS CIRCULARES -------------------------*/

/* CSS PARA SECCION TEXTO IZQUIERDA - IMAGEN DERECHA */
.containerImg{
    background-color: var(--electrolux-bg-primary-darken);
}
.containerImgCortada .text-white{
    color: var(--electrolux-bg-gray) !important;
    font-size: 2.7em;
    margin-top: 1em;
}
.containerImgCortada .container p{
    color: var(--electrolux-bg-primary-light) !important;
}

/*FIN CSS SECCION TEXTO IZQ - IMAGEN DER */
/*CSS PARA IMAGEN FONDO COMPLETO */

.imgFondoCompleto .img{
    width: 100%;
    object-fit: cover;
}

/*FIN CSS PARA IMAGEN FONDO COMPLETO */

/*CSS PARA CONTAINER IMG CORTADA*/
.containerImgCortada{
    min-height: 570px;
    max-height: 570px;
    height: 100%;
    overflow: hidden;
}
/*FIN CSS PARA CONTAINER IMG CORTADA*/


/* CSS PARA SECCION DE CARDS EXPANSIBLES */

.expansibleCards__card{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.slider-container{
    padding: 0;
}
.expansibleCards_img .img{
    width: 100%;
    object-fit: cover;
}

.expansibleCards__icons{
    position: absolute;
    top: 15px;
    right: 15px;
}

.expansibleCards__icons > div.bg-electrolux-primary-darken{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.expansibleCards__icons > div.bg-electrolux-primary-darken img{
    transform: scale(.5);
}
/* FEATURED  SLIDER */

.c-s > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.Carousel-f .active {
	background-color: var(--electrolux-text-primary);
}
.Carousel-f  [data-bs-target] {
	opacity: 1;
    border-radius: 50%; height: 20px; width: 20px;
}
.carousel-item h3{
color: var(--electrolux-bg-primary-light) !important;
}
.carousel-item p{
    font-size: 1.5em;
}
.carousel-item .text-electrolux-white{
    color: var(--electrolux-bg-primary-light)
}
/* .flex-column {padding: 10% 0 0 10%;} */
@media screen and (min-width: 991px) {

    .Carousel-f{
        justify-content: right;
        padding-right: 13%;
    }
}

            /* AJUSTES A SLIDER */

.sliderTextAdjusted {
    padding: 10%;
}

.sliderImgAdjusted{
    padding: 0 0 10% 0;
}


/* FIN  FEATURED  SLIDER */
/*CSS PARA IMAGEN QUE OCUPA FONDO COMPLETO IZQ TEXTO DER */

.sectionImgFull .img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: left;
}


/*FIN CSS PARA IMAGEN QUE OCUPA FONDO COMPLETO IZQ TEXTO DER */

/*CSS PARA SECCION DE INFORMACION TECNICA */

.informationSection .tit{
    padding: 10px;
    border-radius: 10px;
    gap: 0 10px;
}

.informationSection ul li{
    margin-bottom: 5px;
    border-radius: 10px;
}

.informationSection .tit img{
    width: 20px;
}

.detailsInfoDiv {
    width: 100%;
    max-width: 20vw;
}

.bold{
    font-weight: 600;
}

.footer{
    text-align: right;
    font-size: 1.1vw;
}

/*FIN CSS PARA SECCION DE INFORMACION TECNICA */
@media screen and (max-width: 767.98px) {


    /*MEDIA QUERY PARA BANNER PRINCIPAL ------------------*/
    
    .imgBackground{
        height: 26rem;
    }

    .backgroundSection .textBox{
        position: initial;
        max-width: initial;
    }

    /*FIN MEDIA QUERY BANNER PRINCIPAL -------------------- */

    /*MEDIA QUERY PARA SECCION CON IMGS CIRCULARES */

    .cardsCirculares .col-12:nth-of-type(2){
        border-left: 0;
        border-right: 0;
    }   
    .cardsCirculares img{
        width: 300px;
        height: 300px;
    }

    /*FIN MEDIA QUERY SECCION CON IMGS CIRCULARES */

    /*MEDIA QUERY SECCION CARDS EXPANDIBLES */

    .expansibleCards__card p.fs-6.text-electrolux-primary{
        font-size: 2.5rem !important;
    }
    .expansibleCards__card p.text-electrolux-primary{
        font-size: 1.2rem !important;
    }

    /*FIN MEDIA QUERY SECCION CARDS EXPANDIBLES */

    /* MEDIA QUERY PARA SECCION DE INFORMACION TECNICA */

    .detailsInfoDiv{
        max-width: initial;
    }

    /* FIN MEDIA QUERY PARA SECCION DE INFORMACION TECNICA */

    /* MEDIA QUERY PARA SECCION DE TABS */

    .tabsSection__height{
        min-height: initial;
    }

    .tabsSection__height > div:first-child{
        flex-direction: row !important;
    }

    .onActive{
        min-width: initial;
        max-width: initial;
        height: 100%;
        top: 0;
        left: 0;    
    }

    .tabsSection__tab{
        text-align: center;
        padding: 1.5em !important;
    }

    .tabsSection__tab p{
        font-size: 1rem !important;
    }

    .tabsSection__content .img{
        width: calc(60% + 10vw);
    }


    /* FIN MEDIA QUERY PARA SECCION DE TABS */


    .div_text {

        width: 100%;
    }


    

}

@media screen and (max-width: 995px) {

    /*MEDIA QUERY PARA SECCION TEXTO IZQ - IMG DER */

    .containerImgCortada{
        min-height: initial;
        max-height: initial;
        height: auto;
        overflow: initial;
    }

    .containerImgCortada div.col-md-6{
        width: 100%;
    }

    .containerImgCortada div.row{
        flex-direction: column-reverse;
    }

    /*FIN MEDIA QUERY PARA SECCION TEXTO IZQ - IMG DER */

}

@media screen and (max-width: 1100px) and (min-width: 768px) {
    

    /* MEDIA QUERY PARA SECCION DE TABS */

    .tabsSection .tabsSection__tab{
        max-width: 200px;
    }
    .onActive{
        min-width: calc(200px + 3vw);
        max-width: 260px;
    }


    /* FIN MEDIA QUERY PARA SECCION DE TABS */


}

@media screen and (max-width: 1920px) and (min-width: 1660px) {
    .imgBackground{
        height: 46rem;
    }
}

/*MEDIA QUERYS ESPECIALES PARA LA SECCION IMG DER TEXTO IZQ */

@media screen and (min-width: 1000px) {
    .containerImg .container{
        max-width: 1100px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    .containerImg .col-md-6{
        width: 100% !important;
    }

}

/*FIN MEDIA QUERYS ESPECIALES PARA LA SECCION IMG DER TEXTO IZQ */


@media screen and (max-width: 995px) {

    /*MEDIA QUERY PARA SECCION img cortada */

    .containerImgCortada{
        min-height: initial;
        max-height: initial;
        height: auto;
        overflow: initial;
    }

    .containerImgCortada div.col-md-6{
        width: 100%;
    }

    .containerImgCortada div.row{
        flex-direction: column-reverse;
    }

    /*FIN MEDIA QUERY PARA SECCION img cortada */

}

@media screen and (max-width: 768px) {
    
    .footer{
        font-size: 15px;
    }


}

/* ESTILOS ESPECIALES DIV_TEXT */

.div_text {

    padding: 100px 30px;
}

@media screen and (min-width: 1600px) {

    .div_text {

        width: 60%;
    }
}

@media screen and (min-width: 992px) {


    .img_style {
        object-position: left;

    }


}